.back {
    position: fixed;
    top: 0;
    transition: background-color 300ms;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-end;
}

.swiperContainer {
    width: 100vw;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 0px -5px 10px 1px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: 0px -5px 10px 1px rgba(34, 60, 80, 0.26);
    box-shadow: 0px -5px 10px 1px rgba(34, 60, 80, 0.26);
}

.bar {
    width: 50px;
    height: 5px;
    background-color: grey;
    border-radius: 12px;
}

.barContainer {
    padding: 5px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
